@model SubscriptionViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MicroFrontEndMVC</title>
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MicroFrontEndMVC.styles.css" asp-append-version="true" />
    <link href="~/css/header.css" rel="stylesheet" />
    
    
    @*this sets up our message bus before the other scripts run*@
    <script src="~/js/messagebus.1.0.0.js" asp-append-version="true"></script>
        
</head>


<body>
    
    <div class="holy-grail">
        <header id="header"></header>
    
        <main class="holy-grail-main">
            @RenderBody()
        </main>
        
        <footer></footer>
        
    </div>    
    
    
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
   
    <script src="~/js/header.js"></script>
    <script src="~/js/sidemenu.1.0.0.js" asp-append-version="true"></script>
    
    @*write out any css files that are needed*@
    @foreach (var sub in Model.Subscriptions)
    {
        if (!string.IsNullOrEmpty(sub.FileNameCss))
        {
            <link href="@sub.FileNameCss" rel="stylesheet" />
        }
    }

    @*write out all the javascript files*@
    @foreach (var sub in Model.Subscriptions)
    {
        if (!string.IsNullOrEmpty(sub.FileNameJs))
        {
            <script src="@sub.FileNameJs" asp-append-version="true"></script>
        }
    }


</body>
</html>
